@font-face {
  font-family: 'OpenSansRegular';
  src: url('assets/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'OpenSansRegular', Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;

  --color__action: #E06D06;
  --color__main: #3e4244;
}

button {
  padding: .687em .5em;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;

  background-color: var(--color__action);
  color: white;
  border: .063em solid var(--color__action);

  &:hover:not([disabled]), &:focus {
    background-color: white;
    color: var(--color__main);
    border-color: var(--color__main);

    &.btn--icon > svg {
      fill: var(--color__main);
    }
  }

  &:active, &:focus {
    outline: 0;
  }

  &.btn--icon {
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      fill: white;
      margin-right: .1em;
    }
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}
