<img class="logo" src="assets/BSS_Logo.png" alt="Berufliche Schulen Schramberg Logo">

<form>
  <mat-form-field class="klasse">
    <mat-label>Klasse</mat-label>
    <mat-select>
      <mat-option *ngFor="let klasse of klassen" [value]="klasse">
        {{klasse}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="vorname">
    <input matInput disabled placeholder="Vorname" value="Max">
  </mat-form-field>

  <mat-form-field class="nachname">
    <input matInput disabled placeholder="Nachname" value="Mustermann">
  </mat-form-field>

  <mat-form-field class="gebdatum">
    <input matInput disabled placeholder="Geburtsdatum" value="01.01.1990">
  </mat-form-field>
</form>

<figure class="foto">
  <figcaption>Nehmen Sie ein Foto, bei dem Ihr Gesicht gut zu sehen ist.</figcaption>
  <figure class="musterbild">
    <img src="assets/persona.jpg" alt="Musterbild">
    <figcaption>Kamera wird geladen...</figcaption>
  </figure>
  <video autoplay #webcam></video>
  <canvas width="500" height="500" #canvas></canvas>
  <div class="capture-grp">
    <button class="capture-btn icon" (click)="capture()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="3.2"/><path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      Aufnehmen
    </button>
    <button class="timer-btn" mat-icon-button aria-label="Starte Timer, der in 3 Sekunden ein Foto aufnimmt" (click)="timedCapture()">
      <ng-container *ngIf="countdown$ | async as countdown; else showIcon">
        {{countdown}}
      </ng-container>
      <ng-template #showIcon>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
      </ng-template>
    </button>
  </div>
  <button class="delete-btn icon" (click)="delete()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    Löschen
  </button>
</figure>

