@import '../../variables.scss';

form {
  display: grid;
  margin: 1.5em;
  grid-gap: 1.5em;
  grid-template:
    "form          logo"
    "schuelercard  foto" /
    1fr            1fr;

  @media(max-width: $breakpoint__tablet) {
    grid-template:
      "logo"
      "form"
      "foto"
      "schuelercard" /
      1fr;
    text-align: center;
  }
}

.logo {
  grid-area: logo;
  place-self: center;
}

section {
  grid-area: form;
  align-self: flex-start;

  display: grid;
  grid-template:
    "klasse   ."
    "schueler schueler"
    "gebdatum ." /
    1fr       1fr;

  & > .klasse {
    grid-area: klasse;
  }

  & > .schueler {
    grid-area: schueler;
  }

  & > .gebdatum {
    grid-area: gebdatum;
  }

  @media(max-width: $breakpoint__mobile) {
    grid-template:
      "klasse"
      "schueler"
      "gebdatum" /
      1fr;
  }
}

mat-card {
  grid-area: schuelercard;
  max-width: 400px;
  justify-self: center;
  align-self: start;
  margin-top: 1em;

  & > figure {
    display: grid;
    grid-template:
      "pic" /
      1fr;

    & > * {
      grid-area: pic;
      width: 100%;
    }
  }
}

.foto {
  grid-area: foto;
  align-self: start;
  justify-self: center;
  margin: 0;
  width: 500px;

  display: grid;
  grid-gap: 1em;
  grid-template:
    "picture     picture" 500px
    "capture-btn timer-btn"
    "btn-hint btn-hint" /
    1fr          1fr;

  & > .video-placeholder {
    grid-area: picture;
    width: 100%;
    height: 100%;
    place-self: center;
    color: var(--color__main);
    margin: 0;
    border: 1px dashed var(--color__main);

    display: grid;
    grid-template: "area" /
      1fr;
    place-items: center;
  }

  & > canvas {
    grid-area: picture;
  }

  & > video {
    grid-area: picture;
  }

  & > .capture-btn {
    grid-area: capture-btn;
  }

  & > .timer-btn {
    grid-area: timer-btn;
  }

  & > .btn-hint {
    grid-area: btn-hint;
    margin-top: -1em;
    font-size: 75%;
  }
}
