<h1 hidden="true">Password App</h1>

<img class="logo" src="assets/BSS_Logo.png" alt="Berufliche Schulen Schramberg Logo">

<form [formGroup]="schuelerForm">
  <mat-form-field class="klasse">
    <mat-label>Klasse auswählen</mat-label>
    <mat-select formControlName="klasse">
      <mat-option *ngFor="let klasse of klassenPool" [value]="klasse">
        {{klasse}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="klasseControl.hasError('required')">Bitte wählen Sie zuerst eine Klasse aus.</mat-error>
  </mat-form-field>

  <mat-form-field class="schueler">
    <mat-label>Nachname, Vorname auswählen</mat-label>
    <mat-select formControlName="schueler">
      <mat-option *ngFor="let schueler of schuelerPool" [value]="schueler">
        {{schueler.nachname}}, {{schueler.vorname}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="schuelerControl.hasError('required')">Bitte wählen Sie einen Schüler aus.</mat-error>
  </mat-form-field>

  <mat-form-field class="gebdatum">
    <input matInput formControlName="gebdatum" [matDatepicker]="myDatepicker" placeholder="Geburtsdatum">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker startView="multi-year" [startAt]="START_DATEPICKER"></mat-datepicker>
    <mat-hint *ngIf="gebdatumControl.enabled">
      <span *ngIf="schuelerForm.invalid">
        Bitte geben Sie Ihr Geburtsdatum an, um das Foto aufnehmen zu können.
      </span>
      <span *ngIf="schuelerForm.valid">
        Jetzt können Sie Ihr Passbild aufnehmen!
      </span>
    </mat-hint>
    <mat-error *ngIf="gebdatumControl.hasError('required')">Bitte geben Sie Ihr Geburtsdatum ein.</mat-error>
    <mat-error *ngIf="!gebdatumControl.hasError('required') && gebdatumControl.hasError('gebdatumUnequal')">Ihr Geburtsdatum ist nicht korrekt.</mat-error>
  </mat-form-field>
</form>

<mat-card role="region">
  <mat-card-header>
    <mat-card-title>{{displayName}}</mat-card-title>
  </mat-card-header>
  <figure mat-card-image>
    <img *ngIf="isFemaleSelected(); else male" src="assets/persona_frau.jpg" alt="Musterbild Frau">
    <ng-template #male>
      <img src="assets/persona_mann.jpg" alt="Musterbild Mann">
    </ng-template>
    <canvas [width]="SQUARE_PICTURE" [height]="SQUARE_PICTURE" #canvas></canvas>
  </figure>
  <mat-card-content>
    <p *ngIf="schuelerForm.valid && !pictureTaken && !pictureLoaded">
      Nehmen Sie bitte ein Foto, auf dem Ihr Gesicht groß zu sehen ist.<br>
      Schauen Sie in die Kamera!
    </p>
    <p *ngIf="pictureTaken">Super, das Foto wurde erfolgreich gespeichert!<br>
      Wenn Sie es mit einem neuen Foto ersetzen wollen, drücken Sie bitte erneut auf 'Aufnehmen'.
    </p>
    <p *ngIf="pictureLoaded">
      Ihr Foto wurde bereits erfolgreich gespeichert!<br>
      Wenn Sie es mit einem neuen Foto ersetzen wollen, drücken Sie bitte erneut auf 'Aufnehmen'.
    </p>
  </mat-card-content>
</mat-card>

<figure class="foto">
  <figcaption hidden="true">Nimm ein Foto mit deiner Webcam auf.</figcaption>
  <div class="video-placeholder">
    Kamera wird geladen...
  </div>
  <video autoplay #webcam></video>
  <button class="capture-btn btn--icon" (click)="capture()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="3.2"/><path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    Aufnehmen
  </button>
  <button class="timer-btn btn--icon" (click)="timedCapture()">
    <ng-container *ngIf="countdown$ | async as countdown; else showIcon">
      {{countdown}}
    </ng-container>
    <ng-template #showIcon>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
      Aufnehmen in {{COUNTDOWN_FROM}}s
    </ng-template>
  </button>
  <div class="btn-hint">
    <span *ngIf="klasseControl.hasError('required') && submitted">
      Bitte wählen Sie zuerst eine Klasse aus.
    </span>
    <span *ngIf="!klasseControl.hasError('required') && gebdatumControl.hasError('required') && submitted">
      Bitte geben Sie Ihr Geburtsdatum an, um das Foto aufnehmen zu können.
    </span>
    <span *ngIf="gebdatumControl.hasError('gebdatumUnequal') && submitted">
      Ihr Geburtsdatum stimmt nicht mit dem Geburtsdatum in Ihrer Personalakte überein.
<!--      TODO: diesen Text nochmal mit Herrn Amann absprechen, default gebdatum hinschreiben? aufforderung zum klassenlehrer zu gehen?-->
    </span>
  </div>
</figure>
