form {
  display: grid;
  grid-template:
    'title          version'
    'picturePath    picturePath'
    'excelPath      excelPath'
    'subtitle       subtitle'
    'idSpalte       .'
    'nachnameSpalte  vornameSpalte'
    'gebdatumSpalte klasseSpalte'
    'backButton     saveButton' /
    1fr             1fr;
  grid-gap: 1em;
  margin: 2em;
  max-width: 600px;

  @media(max-width: 500px) {
    grid-template:
      'title'
      'version'
      'picturePath'
      'excelPath'
      'subtitle'
      'idSpalte'
      'nachnameSpalte'
      'vornameSpalte'
      'gebdatumSpalte'
      'klasseSpalte'
      'backButton'
      'saveButton' /
      1fr;
  }
}

h1 {
  grid-area: title;
  margin: 0;
}

p {
  grid-area: version;
  margin: 0;
  justify-self: end;

  @media(max-width: 500px) {
    justify-self: start;
  }
}

.picturePath {
  grid-area: picturePath;
}

.excelPath {
  grid-area: excelPath;
}

h2 {
  grid-area: subtitle;
  margin-bottom: 0;
}

.idSpalte {
  grid-area: idSpalte;
}

.vornameSpalte {
  grid-area: vornameSpalte;
}

.nachnameSpalte {
  grid-area: nachnameSpalte;
}

.gebdatumSpalte {
  grid-area: gebdatumSpalte;
}

.klasseSpalte {
  grid-area: klasseSpalte;
}

.back {
  grid-area: backButton;
}

.save {
  grid-area: saveButton;
}
