form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 2em;
  max-width: 600px;
}

mat-form-field {
  grid-column: span 2;
}

h1 {
  margin: 0;
}

button {
  grid-row: 4;
}
